{
  "CreateUserFunctionB24ECABE": {
    "TABLE_NAME": "UserService-Users",
    "AWS_REGION": "us-west-2",
    "NODE_ENV": "development",
    "LOG_LEVEL": "DEBUG"
  },
  "GetUserFunctionD3D353B4": {
    "TABLE_NAME": "UserService-Users",
    "AWS_REGION": "us-west-2",
    "NODE_ENV": "development",
    "LOG_LEVEL": "DEBUG"
  },
  "UpdateUserFunction80F5726A": {
    "TABLE_NAME": "UserService-Users",
    "AWS_REGION": "us-west-2",
    "NODE_ENV": "development",
    "LOG_LEVEL": "DEBUG"
  },
  "DeleteUserFunctionF8A542EC": {
    "TABLE_NAME": "UserService-Users",
    "AWS_REGION": "us-west-2",
    "NODE_ENV": "development",
    "LOG_LEVEL": "DEBUG"
  },
  "ListUsersFunction0CE11513": {
    "TABLE_NAME": "UserService-Users",
    "AWS_REGION": "us-west-2",
    "NODE_ENV": "development",
    "LOG_LEVEL": "DEBUG"
  }
}
